PORT=5001
MONGO_URI=mongodb://localhost:27017/astrology_db
JWT_SECRET=your_jwt_secret_key_at_least_32_chars
VEDIC_ASTRO_API_KEY=ShXSZtSMzx9IupAvuE9kv7VBfQETMJjL4DoqG8S4
VEDIC_ASTRO_BASE_URL=https://api.vedicastroapi.com/v3-json
FREE_ASTRO_API_KEY=ShXSZtSMzx9IupAvuE9kv7VBfQETMJjL4DoqG8S4
FREE_ASTRO_BASE_URL=https://json.freeastrologyapi.com
NODE_ENV=development
LOG_LEVEL=info
